@charset "UTF-8";

/* #667a58 */
/* #fa6b37 */

body {
    font-family: 'helvetica';
    background-color: #e4f0db;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* background-image: url('../assets/Kurupira_Transparent_orange.png');
    background-repeat: no-repeat;
    background-position: 10ch 8em;
    background-size: 65%; */
}



.header {
    background-color: #667a58;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 75%;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    text-align: justify;
    font-size: 1.3em
}

.btn-primary {
    background-color: #fa6b37;
    border: none;
}

.btn-primary:hover {
    background-color: #f7845a;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #667a58;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    
}

a {
    color: #fff !important;
    font-weight: bold !important;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #293122 !important;
    text-decoration: underline;
}

nav {
    background-color: #667a58;

    a {
        color: #fff !important;
        font-weight: bold !important;

        .disabled {
            color: aqua;
            pointer-events: none;
        }
    }

    a:hover,
    a:focus {
        color: #fa6b37;
        text-decoration: underline;
    }

}

.bg-dark {
    background-color: #667a58 !important;
    color: white;
}

.icon {
    width: 30px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.icon-sm {
    width: 20px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.card {
    border: none
}

.card-title {
    font-size: 2.5em
}

.card-subtitle {
    color: #fa6b37;
    font-size: 1.8em;
}

.carousel-caption {
    color: #fff;
    opacity: 0.8;
    font-size: 2em;
}

.card {
    background-color: transparent;
}

.img-thumbnail {
    border: none;
    background-color: transparent;
}

.accordion {
    --bs-accordion-bg: transparent;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #667a58;
    box-shadow: none;
    font-weight: 550;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: none;
}

code {
    color: #fa6b37;
    font-weight: bold;
    font-size: 1.2em
}

footer p {
    font-size:1em
}

.centered{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}



@media only screen and (max-width: 850px) {
 .container {
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
 }

 .carousel-caption {
    color: #fff;
    opacity: 0.8;
    font-size: 1.8em;
}


}